---
import Blade from '@components/Blade.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="">
	<Blade theme="dark" size="screen">
		<Fragment>
			<h1>Astro Tests</h1>
			<ul>
				<li>
					<a href="/canvas-animated-gradient">Canvas animated gradient</a>
				</li>
				<li>
					<a href="/scrolling-content">Scrolling side content images</a>
				</li>
				<li>
					<a href="/clear-logo-svg-fade">Logo SVG fade</a>
				</li>
				<li>
					<a href="/gradient-headline-text">Gradient Text</a>
				</li>
				<li>
					<a href="/react-test">React test</a>
				</li>
			</ul>
		</Fragment>
	</Blade>
</Layout>
