---
import Blade from '@components/Blade.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Astro Tests">
	<Blade theme="dark" size="screen">
		<Fragment>
			<h1>Astro Tests</h1>
			<ul>
				<li>
					<a href="/canvas-animated-gradient">Canvas animated gradient</a>
				</li>
			</ul>
		</Fragment>
	</Blade>
</Layout>
