---

---

<div class="blade scrolling-content-image">
    <div class="blade-content">
        <div class="content">
            <div>
                <h2>headline</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sequi saepe a? Soluta placeat autem voluptatem! Earum beatae fugiat, iste iusto minus error. Adipisci, pariatur nihil? Harum sequi perferendis blanditiis vitae assumenda beatae, officiis eaque unde laborum laboriosam, rerum earum est, sunt enim? Esse laboriosam corrupti, incidunt hic culpa ducimus?</p>
            </div>
        </div>
        <div class="content">
            <div>
                <h2>headline</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sequi saepe a? Soluta placeat autem voluptatem! Earum beatae fugiat, iste iusto minus error. Adipisci, pariatur nihil? Harum sequi perferendis blanditiis vitae assumenda beatae, officiis eaque unde laborum laboriosam, rerum earum est, sunt enim? Esse laboriosam corrupti, incidunt hic culpa ducimus?</p>
            </div>
        </div>
        <div class="content">
            <div>
                <h2>headline</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sequi saepe a? Soluta placeat autem voluptatem! Earum beatae fugiat, iste iusto minus error. Adipisci, pariatur nihil? Harum sequi perferendis blanditiis vitae assumenda beatae, officiis eaque unde laborum laboriosam, rerum earum est, sunt enim? Esse laboriosam corrupti, incidunt hic culpa ducimus?</p>
            </div>
        </div>
        <div class="content">
            <div>
                <h2>headline</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sequi saepe a? Soluta placeat autem voluptatem! Earum beatae fugiat, iste iusto minus error. Adipisci, pariatur nihil? Harum sequi perferendis blanditiis vitae assumenda beatae, officiis eaque unde laborum laboriosam, rerum earum est, sunt enim? Esse laboriosam corrupti, incidunt hic culpa ducimus?</p>
            </div>
        </div>
        <div class="content">
            <div>
                <h2>headline</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sequi saepe a? Soluta placeat autem voluptatem! Earum beatae fugiat, iste iusto minus error. Adipisci, pariatur nihil? Harum sequi perferendis blanditiis vitae assumenda beatae, officiis eaque unde laborum laboriosam, rerum earum est, sunt enim? Esse laboriosam corrupti, incidunt hic culpa ducimus?</p>
            </div>
        </div>
        <div class="content">
            <div>
                <h2>headline</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sequi saepe a? Soluta placeat autem voluptatem! Earum beatae fugiat, iste iusto minus error. Adipisci, pariatur nihil? Harum sequi perferendis blanditiis vitae assumenda beatae, officiis eaque unde laborum laboriosam, rerum earum est, sunt enim? Esse laboriosam corrupti, incidunt hic culpa ducimus?</p>
            </div>
        </div>
    </div>
    <div class="blade-background">
        <div class="image" style="background-image:url(https://imgs.search.brave.com/8MNdGeKAWzK6Y9Dw9cIrAi7TIhwxxtYUWoUyVCy6Wh8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9hbGNv/aG9sLWluay10ZXh0/dXJlLWZsdWlkLWFi/c3RyYWN0LWJhY2tn/cm91bmQtYXJ0LWRl/c2lnbi0xMTM3MjU3/MzMuanBn)"></div>
        <div class="image" style="background-image:url(https://imgs.search.brave.com/AbXeAyFQO4_ZuTVbX5dpdEgVsRn5pZtzaoUoUhf_fmE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9hbGNv/aG9sLWluay1zZWEt/dGV4dHVyZS1mbHVp/ZC1pbmstYWJzdHJh/Y3QtYmFja2dyb3Vu/ZC1hcnQtZGVzaWdu/LWFsY29ob2wtaW5r/LXNlYS10ZXh0dXJl/LWZsdWlkLWluay1h/YnN0cmFjdC1iYWNr/Z3JvdW5kLWFydC0x/MzUxNTUyNzkuanBn)"></div>
        <div class="image" style="background-image:url(https://imgs.search.brave.com/8MNdGeKAWzK6Y9Dw9cIrAi7TIhwxxtYUWoUyVCy6Wh8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9hbGNv/aG9sLWluay10ZXh0/dXJlLWZsdWlkLWFi/c3RyYWN0LWJhY2tn/cm91bmQtYXJ0LWRl/c2lnbi0xMTM3MjU3/MzMuanBn)"></div>
        <div class="image" style="background-image:url(https://imgs.search.brave.com/AbXeAyFQO4_ZuTVbX5dpdEgVsRn5pZtzaoUoUhf_fmE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9hbGNv/aG9sLWluay1zZWEt/dGV4dHVyZS1mbHVp/ZC1pbmstYWJzdHJh/Y3QtYmFja2dyb3Vu/ZC1hcnQtZGVzaWdu/LWFsY29ob2wtaW5r/LXNlYS10ZXh0dXJl/LWZsdWlkLWluay1h/YnN0cmFjdC1iYWNr/Z3JvdW5kLWFydC0x/MzUxNTUyNzkuanBn)"></div>
        <div class="image" style="background-image:url(https://imgs.search.brave.com/8MNdGeKAWzK6Y9Dw9cIrAi7TIhwxxtYUWoUyVCy6Wh8/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9hbGNv/aG9sLWluay10ZXh0/dXJlLWZsdWlkLWFi/c3RyYWN0LWJhY2tn/cm91bmQtYXJ0LWRl/c2lnbi0xMTM3MjU3/MzMuanBn)"></div>
        <div class="image" style="background-image:url(https://imgs.search.brave.com/AbXeAyFQO4_ZuTVbX5dpdEgVsRn5pZtzaoUoUhf_fmE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90aHVt/YnMuZHJlYW1zdGlt/ZS5jb20vYi9hbGNv/aG9sLWluay1zZWEt/dGV4dHVyZS1mbHVp/ZC1pbmstYWJzdHJh/Y3QtYmFja2dyb3Vu/ZC1hcnQtZGVzaWdu/LWFsY29ob2wtaW5r/LXNlYS10ZXh0dXJl/LWZsdWlkLWluay1h/YnN0cmFjdC1iYWNr/Z3JvdW5kLWFydC0x/MzUxNTUyNzkuanBn)"></div>
    </div>
</div>

<style lang="scss">
    .blade {
        display: flex;
    }

    .blade-content {
        width: 50%;
        
        .content {
            display: flex;
            align-items: center;
            width: 100%;
            min-height: 100vh;
            padding-inline: var(--spacing-unit-5);
        }
    }

    .blade-background {
        width: 50%;

        .image {
            width: 100%;
            min-height: 100vh;
            background-size: 50% 100%;
            background-position: right;
            background-attachment: fixed;
        }
    }
</style>