---

---

<div class="scrolling-video-content-section">
    <div class="content">
        <slot />
    </div>
</div>

<style lang="scss">
    .scrolling-video-content-section {
        padding-block: var(--spacing-unit-15);
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
</style>